@inject IConfiguration _config
@inject EquipoServicio _servicioEquipo
@inject NavigationManager _nav
@inject IDialogService _dialogService


<div class="container-equipo">
    <div class="equipo-grid sombraEquipo color-fondo-equipo">
        <div class="flex-equipo">
            <span>@RecortarNombreEquipo()</span>
            <span>@Equipo.Jugadores.Count</span>
        </div>

    </div>
    <div class="grid-Vacio"></div>

    <div class="lista-jugadores-grid sombraEquipo color-fondo-equipo" id="contenedor">
        <div>
            <ul class="hidden">
               @foreach(var jugador in Equipo.Jugadores)
                {
                    <li>  <span class="fas fa-child"></span>  @jugador.Cedula - @jugador.NombreCompleto
                        @if (Equipo.Capitan == jugador.NombreCompleto)
                        {
                            <span class="fas fa-star"></span>
                        }

                    </li>
                }
            </ul>
        </div>

    </div>

    <button class="displayEdit" @onclick="EditarEquipo"><span class="fas fa-edit"></span></button>

    <div class="avatar-equipo">
        <img src="@VerLogoURL()" alt="Logo de equipo">
    </div>
</div>

@code {
    [Parameter] public EquipoDTO Equipo { get; set; }

    private string baseUrlImagen;

    protected async override Task OnInitializedAsync()
    {
        baseUrlImagen = _config["UrlBaseParaImagenes"];
    }

    private string RecortarNombreEquipo()
    {
        string recorte = Equipo.Nombre.Length >= 15 ? Equipo.Nombre.Substring(1, 15) : Equipo.Nombre;
        return recorte;
    }

    private string VerLogoURL(){

        string rutaImagen = $"{baseUrlImagen}{Equipo.Logo}";
        return rutaImagen;
    }

    private async void EditarEquipo()
    {

        var result = await _dialogService.Show<DialogComponent>("Desea modificar los jugadores de este equipo?").Result;

        if (result.Canceled) return;


        await _servicioEquipo.SetModoEdicion(true);
        await _servicioEquipo.SeleccionarEquipo(Equipo.Id);
        _nav.NavigateTo("/EQUIPOS/Creacion");
    }

}
