

<label>Elija los sets por partido</label>
<MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
    <MudButton OnClick="() => Actualizar(1)" Class="@EnfasisBotonesActivos[0]">1</MudButton>
    <MudButton OnClick="() => Actualizar(2)" Class="@EnfasisBotonesActivos[1]">2</MudButton>
    <MudButton OnClick="() => Actualizar(3)" Class="@EnfasisBotonesActivos[2]">3</MudButton>
    <MudButton OnClick="() => Actualizar(4)" Class="@EnfasisBotonesActivos[3]">4</MudButton>
    <MudButton OnClick="() => Actualizar(5)" Class="@EnfasisBotonesActivos[4]">5</MudButton>
</MudButtonGroup>

@code {
    [Parameter] public EventCallback<int> ActualizarSetsMax { get; set; }
    [Parameter] public int SetsMaxActual { get; set; }

    public List<string> EnfasisBotonesActivos = new()
        {
            "","","","",""
        };


    protected async override Task OnParametersSetAsync()
    {
        EnfasisBotonesActivos[SetsMaxActual - 1] = "enfasisBoton";
    }

    private async Task Actualizar(int numeroSets)
    {
        ReiniciarEnfasisBotones();
        await ActualizarSetsMax.InvokeAsync(numeroSets);
    }

    private void ReiniciarEnfasisBotones()
    {
        for (int i = 0; i < EnfasisBotonesActivos.Count; i++)
        {
            EnfasisBotonesActivos[i] = "";
        }

    }


}
