@page "/ORGANIZADOR/ModalidadJuego"
@inject TorneoServicio _servicioTorneo
@inject ISnackbar _snackbar
@inject FixtureServicio _servicioFixture
@inject NavigationManager _nav


        <MudNumericField @bind-Value="cantidadGrupos"
                 Label="Elige la cantidad de grupos"
                 Variant="Variant.Outlined"
                 TextChanged="OnCambioCantidadGrupos" 
                 Min="2" Max="20"/>

        <MudButton >Seleccionar Equipos</MudButton>

        <EspacioVertical Altura="20px" />



 @foreach(var grupo in letrasGrupo) 
    {
    <div class="card-general">

        <h3 class="h2-panelpago">Grupo @grupo</h3>

        @foreach (var equipo in FiltrarEquiposPorGrupo(grupo))
        {
            <div class="row  d-flex justify-content-around align-items-center">
                <div class="col-8">
                    <span>@equipo.Equipo.Nombre</span>
                </div>

                <div class="col-4">
                    <MudSelect @bind-Value="@equipo.Grupo"
                               Label="Elige grupo"
                               Variant="Variant.Outlined">
                        @foreach (string letraGrupo in letrasGrupo)
                        {
                            <MudSelectItem Value="@letraGrupo">@letraGrupo</MudSelectItem>
                        }
                    </MudSelect>

                </div>
            </div>
        }
     </div>
    }


<MudButton @onclick="CrearFixture" Variant="Variant.Filled" Color="Color.Primary">Simular Fixture</MudButton>
<MudButton @onclick="GuardarFixture" Variant="Variant.Filled" Color="Color.Primary">Crear Fixture</MudButton>



@code {
    List<string> letrasGrupo = new();

    List<EquipoDTO> equiposInscriptos = new();
    List<SelectEquipo> selectEquipos = new();

    int cantidadGrupos = 2;


    protected async override Task OnInitializedAsync()
    {
        await CargaInicial();
    }

    private async Task CargaInicial()
    {
        try
        {
            //traigo todas las inscripciones del torneo especificado
            equiposInscriptos = await _servicioTorneo.ObtenerEquiposInscripciones();
            if (equiposInscriptos == null) 
            {
                _snackbar.Add("No hay equipos inscriptos", Severity.Warning);
                return;
            }
            CargaInicialEquiposGrupo();
        }
        catch (Exception ex)
        {
            _snackbar.Add(ex.Message, Severity.Warning);
        }

    }

    private List<SelectEquipo> FiltrarEquiposPorGrupo(string grupo)
    {
        return selectEquipos.Where(w => w.Grupo == grupo).ToList();
    }

    private void CargaInicialEquiposGrupo()
    {
        selectEquipos = new();

        int cantidadEquipos = equiposInscriptos.Count;

        for (int i = 0; i < cantidadEquipos; i++)
        {
            SelectEquipo selectEquipo = new()
            {
               Equipo = equiposInscriptos[i],
               Grupo ="A"
            };
            selectEquipos.Add(selectEquipo);
        }
        OnCambioCantidadGrupos(cantidadGrupos.ToString());

    }

    private void OnCambioCantidadGrupos(string cantidad)
    {
        cantidadGrupos = int.Parse(cantidad);

        letrasGrupo = new();

        for(int i = 0; i < cantidadGrupos; i++)
        {
            letrasGrupo.Add(Util.gruposLetra[i]);
        }

        int cantidadEquipos = selectEquipos.Count;

        for (int i = 0; i < cantidadEquipos; i++)
        {
            selectEquipos[i].Grupo = "A";
        }
    }


    private async Task CrearFixture()
    {
        try
        {
            if (HayGruposVacios()) throw new Exception("No puede haber grupos sin equipos");
            if (EquiposMinimosInsuficientes()) throw new Exception("Debe haber minimo 3 equipos por grupo");

            bool resultado = await _servicioFixture.ArmarFixtureGrupoEliminacionDirecta(selectEquipos, cantidadGrupos);
            if (!resultado) throw new Exception("No se ha podido simular el fixture");
            _snackbar.Add($"Este fixture tiene una duración de jornada de {_servicioFixture.ObtenerTiempoJornada()}", Severity.Info);
        }
        catch (Exception ex)
        {
            _snackbar.Add(ex.Message, Severity.Warning);
        }
    }

    private async Task GuardarFixture()
    {
        try
        {
            await CrearFixture();

            bool creacion = await _servicioFixture.GuardarFixture();

            if (creacion) _snackbar.Add("Cruzamiento de equipos creado", Severity.Success);
            _nav.NavigateTo("/PartidosTiempoReal");
        }
        catch (Exception ex)
        {
            _snackbar.Add(ex.Message, Severity.Warning);
        }
    }


    private bool HayGruposVacios(){

        int cantidadGruposActual = selectEquipos.GroupBy(g => g.Grupo).Count();
        bool gruposVacios = cantidadGruposActual != cantidadGrupos;
        return gruposVacios;
    }

    private bool EquiposMinimosInsuficientes()
    {
        bool minimosInsuficiente = selectEquipos.GroupBy(g => g.Grupo)
                                         .Any(a => a.Count() < 3);
        return minimosInsuficiente;
    }

}